.formsDiv {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 8px;

  .icons {
    color: #c4c2c2;
  }
}

.form-input {
  padding: 20px 20px 20px 50px;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.remberMeLabel {
  .form-check-label {
    color: unset !important;
  }
}

.loginBtn {
  position: relative;
  text-align: end;

  .forgetPassLabel {
    color: #f15a24;
    cursor: pointer;
    font-size: 14px;
  }
}

.submitBtn {
  background-color: #f15a24 !important;
  border-color: #ced4da !important;
  font-family: 'Ubuntu', sans-serif;

  &:active {
    outline: 0;
    box-shadow: none;
  }

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.MuiFormControlLabel-label {
  font-size: 14px !important;
}

.MuiFormControlLabel-root {
  margin-right: 0 !important;
}
.selectClass {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 16px;
  font-weight: 600;

  div {
    &:focus {
      box-shadow: none;
      border-color: transparent;
      border-radius: 0;
      background-color: transparent;
    }
  }
}
