.campaignViewBtn {
  background: white;
  color: black;
  border-color: #f2f2f2;
  &:focus {
    background-color: #f15a24 !important;
    border-color: #f15a24;
    box-shadow: none !important;
    opacity: 0.8;
  }
  &:hover {
    background-color: #f15a24 !important;
    border-color: #f15a24 !important;
  }
  &:active {
    background-color: #f15a24 !important;
    border-color: #f15a24 !important;
  }

  
}

.addUpdate {
    text-align: end;
    margin: 20px 0px;

    .updateBtn{
        background: #f15a24;
        border-color: #f15a24;
        &:focus {
          background-color: #f15a24 !important;
          border-color: #f15a24;
          box-shadow: none !important;
          opacity: 0.8;
        }
        &:hover {
          background-color: #f15a24 !important;
          border-color: #f15a24 !important;
        }
        &:active {
          background-color: #f15a24 !important;
          border-color: #f15a24 !important;
        }
    }
  }