.updateProfileBtn {
  background-color: #f15a24;
  border-color: #f15a24;
  font-size: 14px;
  &:hover {
    background-color: #f15a24;
    border-color: #f15a24;
    opacity: 0.8;
  }
  &:focus {
    box-shadow: none !important;
    border-color: #f15a24 !important;
    background-color: #f15a24 !important;
  }
  &:active {
    background-color: #f15a24 !important;
    border-color: #f15a24;
    color: black;
  }
}
.profile-icon {
  width: 15px;
  // height: 20px;
}
