.updateProfileBtn {
  background-color: #f15a24;
  border-color: #f15a24;
  font-size: 14px;
  &:hover {
    background-color: #f15a24;
    border-color: #f15a24;
    opacity: 0.8;
  }
  &:focus {
    box-shadow: none !important;
    border-color: #f15a24 !important;
    background-color: #f15a24 !important;
  }
  &:active {
    background-color: #f15a24 !important;
    border-color: #f15a24;
    color: black;
  }
}
.profile-icon {
  width: 15px;
  // height: 20px;
}

.address {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #f0f0f0;
}

.bioLimit {
  text-align: end;
  color: #f15a24;
  padding: 5px;
}

.bankDetailsFormDiv {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-bottom: 10px;
}
