.main-form1 {
  text-align: center;
  margin: 30px 0 0 0;

  .main-heading {
    padding: 0 143px;
    margin-bottom: 30px;
  }

  .mainForm {
    display: flex;
    flex-direction: column;
    padding: 0 130px;
    // text-align: center;
    margin: 0 auto;

    .formGroup {
      position: relative;
      display: flex;

      .label-field {
        margin-top: 12px;
        margin-right: 10px;
      }

      .formsDiv {
        border: 1px solid #ced4da;
        width: 80%;
        text-align: -webkit-right;
        display: flex;
        border-radius: 4px;
        height: 42px;

        .selectClass {
          border: none;
          border-right: 1px solid #ced4da;
          width: 80px;
        }

        .inputForm {
          width: 100%;
          padding: 0 10px;
          border: none !important;
          &:focus {
            outline: 0;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .categoriesSelect {
    div {
      border: 1px solid #ced4da;
      border-radius: 4px;
      box-shadow: none;
    }
  }
  .datePicker {
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    div {
      font-family: 'Ubuntu', sans-serif;

      &:focus {
        outline: 0;
      }

      &:hover {
        outline: 0 !important;
      }
      input {
        padding: 10.5px 14px !important;
      }
    }

    &:focus {
      outline: 0;
    }
    .MuiInput-underline:before {
      border-bottom: none !important;
    }

    .MuiInput-underline:after {
      border-bottom: none !important;
    }
  }
  .dropBtn {
    background: white;
    color: black;
    border-color: #f2f2f2;
    margin: 0 10px;
    &:focus {
      box-shadow: none !important;
    }
    &:active {
      background: white;
      color: black;
      border-color: #f2f2f2;
    }

    .dropItem {
      &:active {
        color: #fff;
        text-decoration: none;
        background-color: #f15a24;
      }
    }
  }

  .campaignBtns {
    width: 160px;
    height: 40px;

    .viewCampaignBtn {
      background-color: #f15a24;
      border-color: #f2f2f2;
      width: 100%;
      font-size: 14px;
      &:focus {
        box-shadow: none;
      }
      &:active {
        background: white;
        color: black;
        border-color: #f2f2f2;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  
  }
}
