@import 'App/styles/mixin.scss';

.card-body {
  padding: 1.25rem 8px 1.25rem 8px;
}

.card-header-main {
  margin-bottom: 15px;
  min-height: 223px;
  /* text-align: center; */
  justify-content: center;
  .compaignData {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .card-img {
    display: flex;
    box-sizing: border-box;
    // height: 90%;
    // width: 215px;
    justify-content: center;
    border-radius: 50;
    align-items: center;
    text-align: center;
    margin: 10px 10px;
    background: transparent;
    position: relative;

    .editIconDiv {
      background-color: #f15a24;
      position: absolute;
      padding: 4px;
      border-radius: 50%;
      border: 5px solid white;
      right: 29px;
      top: 24px;
      cursor: pointer;
      z-index: 1;
      .editIcon {
        color: white;
      }
    }

    .sub-card-img {
      width: 178px;
      height: 178px;
      border: 3px solid #adadad;
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .titleCol {
    display: flex;
    justify-content: center;

    @include respond-to(mobile) {
      // css code here
      text-align: center;
    }

    .card-data {
      display: flex;
      flex-direction: column;
      justify-content: center;

      vertical-align: middle;
      position: relative;
    }
  }

  .table-col1 {
    text-align: center;
    border-bottom-width: 0.1px;
    border-bottom-color: rgba(0, 0, 0, 0.05);
    border-bottom-style: solid;
    // margin-bottom: 15px;
  }
  .tableRight {
    border-right-width: 0.1px;
    border-right-color: rgba(0, 0, 0, 0.05);
    border-right-style: solid;
  }

  .complaints-data {
    display: flex;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
  }
}

.modalBtnYes {
  background-color: #f15a24;
  border-color: #f2f2f2;
  margin-left: 5px;
  min-width: 120px;
  &:focus {
    box-shadow: none !important;
    background: white;
    color: black;
    border-color: #f2f2f2;
  }
  &:active {
    background: white;
    color: black;
    border-color: #f2f2f2;
  }

  &:hover {
    opacity: 0.8;
    background-color: #f15a24;
    border-color: #f15a24;
  }
}

.modalBtnNo {
  min-width: 120px;
  background: white;
  color: black;
  border-color: #f2f2f2;

  &:focus {
    box-shadow: none !important;
    background: white;
    color: black;
    border-color: #f2f2f2;
  }
  &:active {
    background: white !important;
    color: black;
    border-color: #f2f2f2;
  }
  &:hover {
    opacity: 0.8;
    background: white !important;
    color: black;
    border-color: #f2f2f2;
  }
}

.sideNav {
  height: 28rem;
  @include respond-to(handhelds) {
    // css code here
    height: auto;
  }
}
.listItem {
  // border: none;
  height: 50px;
  display: flex;
  color: unset;

  @include respond-to(largeDesktop) {
    // css code here
    font-size: 14px;
  }
  @include respond-to(smallDesktop) {
    // css code here
    font-size: 12px;
  }

  &:hover {
    color: #f15a24;
  }
  .active {
    color: #f15a24;
  }
}
.line {
  margin: 0 13px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-width: 0 0 1px;
  width: 90%;
}

.iconImage {
  width: 20px;
  margin: 0 10px 0 0px;

  @include respond-to(smallDesktop) {
    // css code here
    display: none;
  }
}

.descriptionCampaign {
  min-height: 37px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: initial !important;
}
.campaign-card {
  margin: 10px 0;
  // min-height: 442px;
  position: relative;

  .badgeCampaign {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 8px;
    border-radius: 3px;
  }
}

.dataCard {
  border-radius: 6px;
  padding: 7px 12px;

  .campaignHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // @include respond-to(mobile) {
    //   // css code here
    //   flex-direction: column;
    // }
    .campaignHeader1 {
      justify-content: space-between;
    }
    .dropBtn {
      min-width: 120px;
      background: white;
      color: black;
      border-color: #f2f2f2;
      &:focus {
        box-shadow: none !important;
      }
      &:active {
        background: white;
        color: black;
        border-color: #f2f2f2;

        &:hover {
          opacity: 0.8;
        }
      }

      .dropItem {
        &:active {
          color: #fff;
          text-decoration: none;
          background-color: #f15a24;
        }
      }
    }

    .campaignBtn {
      background-color: #f15a24;
      border-color: #f2f2f2;
      margin-left: 5px;
      &:focus {
        box-shadow: none !important;
      }
      &:active {
        background: white;
        color: black;
        border-color: #f2f2f2;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .author_details {
    .author-photo {
      width: 20px;
      height: 20px;
      line-height: 0;
      overflow: hidden;
      border-radius: 3px;
      margin-right: 10px;
      float: left;
      margin-top: 5px;
    }

    .author-name {
      font-size: 13px;
      font-weight: 700;
      display: inline-block;
      margin-top: 4px;
      color: #6a6a6a;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
      margin-bottom: 15px;
    }
  }

  .give-card__title {
    padding: 0;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 18px;
  }

  .skillbar {
    background-clip: padding-box;
    background-color: #d4d4d4;
    border-radius: 50px;
    box-sizing: border-box;
    height: 6px;
    position: relative;
    width: calc(100% - 40px);
    margin-bottom: 15px;
    margin-top: 15px;

    .progress {
      height: 0.4rem;
      width: 100%;
      .progress-bar {
        background-color: #f15a24;
      }
    }

    .count-bar {
      background-color: #f15a24;
      background-clip: padding-box;
      // background-color: rgb(117, 69, 69);
      height: 6px;
      width: 0;
      border-radius: 6px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    .count {
      font-size: 14px;
      font-weight: 600;
      width: 40px;
      position: absolute;
      left: 100%;
      top: -4px;
      text-align: right;
      line-height: 16px;
      white-space: nowrap;
      color: #f15a24;
      padding-left: 5px;
    }
  }

  .anchorTag {
    text-decoration: none;
    color: unset !important;
    &:hover {
      text-decoration: none !important;
      color: unset !important;
    }
    &:focus {
      outline: 0 !important;
    }
  }
  .campign-info {
    list-style: none;
    margin: 15px 0 15px;
    padding: 15px 0 0;
    border-top: 1px solid #eaeaea;
    text-align: center;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 13px;
      font-weight: 700;
      display: block;
      color: #6a6a6a;
    }
    .content {
      color: #f15a24;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .campaignBtns {
    justify-content: space-evenly;
    display: flex;
    .viewCampaignBtn {
      background-color: #f15a24;
      border-color: #f2f2f2;
      // width: 100%;
      font-size: 11px;
      &:focus {
        box-shadow: none;
      }
      &:active {
        background: white;
        color: black;
        border-color: #f2f2f2;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .editCampaignBtn {
      background-color: gray;
      border-color: #f2f2f2;
      // margin-left: 5px;
      font-size: 11px;
      width: 100%;

      &:hover {
        opacity: 0.8;
      }
      &:focus {
        box-shadow: none;
      }
      &:active {
        background: white;
        color: black;
        border-color: #f2f2f2;
      }
    }
  }
}

.deleteIcon {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  cursor: pointer;
  background: #f15a24;
  // background: #fb4d4d;
  text-align: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.paginatordiv {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .paginatorPerSize {
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }

    .paginatorPerPage {
      width: 65px;
      text-align: center;
      display: flex;
      font-size: 13px;

      .paginatorPerPageOption {
        background-color: #fefefe !important;
        &:hover {
          background-color: #f15a24 !important;
        }
      }
    }
  }

  .paginationColor {
    & .Mui-selected {
      background-color: #f15a24;
      border-color: #f15a24;
      color: white;
    }
  }
}

.menuSetting {
  box-shadow: none !important;
  transform-origin: 0px 26px;

  border-radius: 6px;
}

.menuList {
  &:focus {
    opacity: 0.8;
  }
  &:hover {
    color: #f15a25;
    opacity: 1;
  }
}

.editLink {
  color: black !important;
  text-decoration: none !important;

  &:hover {
    color: #f15a25 !important;
    text-decoration: none !important;
  }
}
