.authBtns {
  display: flex;
  justify-content: space-around;

  .campaignBtn {
    background-color: #f15a24;
    border-color: #f2f2f2;
    margin-left: 5px;
    &:focus {
      box-shadow: none !important;
    }
    &:active {
      color: #1d2124 !important;
      background-color: #e8e7e7 !important;
      border-color: #f2f2f2 !important;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
.message {
  color: #f15a24;
  font-weight: 400;
}

.resendEmailBtn {
  background-color: #f15a24;
  border-color: #f15a24;
  margin-left: 5px;
  &:focus {
    box-shadow: none !important;
  }
  &:active {
    color: #1d2124 !important;
    background-color: #e8e7e7 !important;
    border-color: #f2f2f2 !important;
  }

  &:hover {
    opacity: 0.8;
    background-color: #f15a24;
    border-color: #f15a24;
  }
}
